/* =======================
   Components/Line-up
   ======================= */

.line-up--title {
    border-bottom: 10px solid $orange;
    color: $orange;
    display: inline-block;
    font-family: 'Rotondac-Bold';
    letter-spacing: .08em;
    line-height: 80px;
    margin-bottom: $spacing-unit--large * 6;
    text-transform: uppercase;
    @include font-size(80px);
    @include font-weight(bold);
}

    .line-up--list {
        font-family: 'Rotondac-Regular';
    }
    
        .shop {
            cursor: pointer;
            list-style: none;
            margin-bottom: $spacing-unit--large * 6;
            transition: all 0.4s ease;
            @include font-size(70px);
        }


.gallery {
    opacity: 0;
    position: fixed;
    margin: auto;
    max-height: 80%;
    max-width: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: -1;
}

