/* =======================
   Components/Good Parallax
   ======================= */

/*
li { 
    color: orange;
    font-size: 40px;
    left: 0;
    letter-spacing: 0;
    list-style: none;
    position: absolute;
    text-align: center;
    top:20%;
    width: 100%;
}
*/
