/* =======================
   Components/Line-up
   ======================= */

.line-up--title {
    color: $orange;
    display: inline-block;
    font-family: 'Rotondac-Bold';
    letter-spacing: .08em;
    line-height: 80px;
    margin-bottom: $spacing-unit--large * 6;
    text-transform: uppercase;
    @include font-size(80px);
    @include font-weight(bold);

    @include media-query(palm) {
        margin-bottom: $spacing-unit--large * 2;
        @include font-size(60px);
    }
}



    .under-bar {
        background: $orange;
        border-radius: 7px;
        height: 14px;
        width: 100%;

        @include media-query(palm) {
            border-radius: 5px;
            height: 10px;
        }
    }

    .line-up--list {
        font-family: 'Rotondac-Regular';
        
        img {
            @include media-query(palm) {
                opacity: 1 !important;
                margin-bottom: $spacing-unit--large * 3;
            }
        }
    }
    
        .shop {
            cursor: pointer;
            height: 120px;
            list-style: none;
            margin-bottom: $spacing-unit--large * 6;
            transition: all 0.4s ease;
            @include font-size(70px);

            @include media-query(palm) {
                height: auto;
                margin-bottom: $spacing-unit;
                @include font-size(60px);
            }

            a {
                color: inherit;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }


.gallery {
    opacity: 0;
    position: fixed;
    margin: auto;
    max-height: 70%;
    max-width: 60%;
    top: 5%;
    left: 5%;
    right: 0%;
    bottom: 5%;
    z-index: -1;

    @include media-query(palm) {
        max-width: 90%;
        opacity: 1;
        position: inherit;
    }

}

