/* =======================
   Components/Bridge to Footer
   ======================= */

.bridge-to-footer {
    background: linear-gradient(to bottom, rgba(255,255,255, 0.01) 0%, $color-white 90%, $color-white 100%);
    display: table;
    height: 100vh;
    width: 100%;

    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: $spacing-unit--small;
        @include font-size(50px);
        @include font-weight(bold);
    }
}

