/* =======================
   Components/Bridge to Footer
   ======================= */

.bridge-to-footer {
    background: linear-gradient(to bottom, rgba(255,255,255, 0.01) 0%, $color-white 90%, $color-white 100%);
    display: table;
    height: 100vh;
    width: 100%;

    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    h3 {
        font-family: 'Rotondac-Bold';
        letter-spacing: .1em;
        text-transform: uppercase;
        @include font-size(60px);
        @include font-weight(bold);
    }
    
    a {
        color: inherit;
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
    }
}

    .arrow {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -2.5%;
        width: 5.5%;
        animation: floating-arrow ease-in-out .8s infinite alternate;

        object {
            pointer-events: none;
        }
    }



@keyframes floating-arrow {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(50%);
    }
}
