/* =======================
   Settings/Colors
   ======================= */

$color-white:       #FFF;
$color-black:       #000;


// Page
$base-background-color:   $color-white;
$base-text-color:         $color-black;
$base-color-red:          #AC0022;

// Line-up
$green:             #16AA5E;
$orange:            #FA7808;
$blue:              #1B7CC8;
$dark-pink:         #F40024;

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.blue {
    color: $blue;
}

.dark-pink {
    color: $dark-pink;
}